/* Base Styles */

* {
    font-family: 'Raleway', sans-serif;
}

a {
    color: orange;
    text-decoration: none;
    text-transform: capitalize;
}

a:hover {
    text-decoration: underline;
    color: #fff;
}

section {
    display: block;
    padding-top: 75px;
}

.container {
    width: 970px;
    margin: auto;
    padding-top: 75px;
}

.container h3, .container h4 {
    margin: 20px 0;
    text-align: center;
    text-transform: capitalize;
}

.container h3 {
    font-size: 20px;
    font-weight: bold;
}

.container h4 {
    font-size: 15px;
}

/* Header */

.header-container, .footer-container {
    display: flex;
    flex-direction: row;
    width: 970px;
    margin: auto;
}

header {
    width: 100%;
    background-color: #222;
    height: 75px;
    padding: 20px;
    position: fixed;
    z-index: 300;
}

header #company-logo {
    flex: 2;
}

header h1 {
    font-size: 25px;
    font-weight: thin;
    font-family: 'Rock salt',cursive;
    color: #ddd;
    line-height: 35px;
    text-shadow: 1px 1px 3px #333;
}

header .menu-wrapper {
    flex: 2;
    line-height: 35px;
    text-align: right;
    
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

/* Hero Image adding */

#hero-image {
    height: 100vh;
    background: #000 url('../images/hero.jpg') no-repeat fixed bottom;
    background-size: cover;
    position: relative;

}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.tag-line {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #ccc;
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    opacity: .5;
}

/* Go to Top Button */

#topButton {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
}

#topButton:hover {
    color: blue;
}

/* This is the Our-Story Section */

#our-story {
    padding: 25px 0;
    margin-bottom: 25px;
}

#our-story p {
    text-align: justify;
}

/* This is the Gallery section */

#gallery {
    background-color: #333;
    color: #fff;
    padding-top: 0;
    padding-bottom: 25px;
    text-align: center;
}

.gallery-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-evenly;    
}

.gallery-item {
    flex: 1;
    flex-basis: 33%;
}

.gallery-description {
    margin-bottom: 20px;
}

/* This is the event section */

#events {
    background-color: #e3e3e3e3;
    padding-top: 5px;
    padding-bottom: 25px;
}

#upcoming-events-table {
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
    padding-top: 30px;
    margin-bottom: 20px;
}

#upcoming-events-table th {
    text-align: left;
    font-weight: bolder;
}

/* This is the Contact form section */

#contact {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 60px;
}

#contact fieldset {
    width: 80%;
    margin: auto;
    background-color: #e3e3e3;
    padding: 20px;
    box-shadow: 0 0 5px #ccc;
}

#contact p {
    text-align: center;
    margin-bottom: 10px;
}

#contact input, textarea {
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

#contact input {
    height: 40px;
}

#contact textarea {
    height: 200px;
}

#contact button {
    width: 100%;
    color: #fff;
    background-color: rgb(53, 49, 49);
    border-radius: 5px;
    font-weight: bolder;
    letter-spacing: .1em;
    border: none;
}

#contact button:hover {
    cursor: pointer;
    background-color: orange;
    color: #000;
    transition: all .3s linear ;
}

#contact .container {
   padding-top: 0px;
}

/* form {
    padding-top: 10px;
} */

/* This is the Footer section */

footer {
    background-color: #222;
    position: relative;
    bottom: 0;
    height: auto;
}

footer .menu-wrapper {
    flex: 1;
    line-height: 35px;
    text-align: left;
}

.social-items{
    display: inline-block;
    line-height: 150px;
    padding: 0 10px;
    
}

.social-items:hover{
    color: #fff;
    transition: all 0.3s;
    transform: scale(1.4);
   
    
}

.social svg{
    display: inline; 
    margin: 0 0.2rem; 
}

footer nav ul li {
    display: inline-block;
    margin-right: 20px;
    padding: 0 10px;
    line-height: 150px;
}

footer .menu-item:hover {
    transition: all 0.3s;
    transform: scale(1.4);
    font-weight: bold;
    color: #fff;
    text-decoration: none;

}

footer #copy-right {
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}